<a href='#' onclick='AssetDialog.select(function() { }); return false;'>Open</a>

<!--

<%= repeater do |r| %>
  <% r.template do %>
    <%= hidden_field_tag 'show[showings_attributes][{index}][id]', '' %>
    <%= hidden_field_tag 'show[showings_attributes][{index}][_destroy]', '0' %>
    <%= hidden_field_tag 'show[showings_attributes][{index}][show_at]', '' %>
    Date: <%= select_date(Date.today, {:order => [:day, :month, :year]}, {:id => nil}) %>
    <br />
  <% end %>
  
  <% r.data [1,2,3,4] %>
  
  <% r.config do %>
    substitute: {
      show_at: function() {
        // do some mojo
      }
    },
    
    behaviours: function() {
      
    }
  <% end %>
<%  end %>

-->